body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #d2001d, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.pedido-box {
    width: 400px;
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

img {
    padding: 3px 50px;
    padding-left: 22%;
    padding-top: -10%;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    padding: 2px;
}

button {
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40 60px;
    height: 40px;
    width: 60px;
    margin: 15px;
    font-size: 1.2em;
    border: none;
    background-color: rgba(176, 79, 206, 0.7);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(178, 34, 34, 0.7)
}